{% extends 'learning_log/base.html' %}

{% block page_header %}
	<h1>Topics</h1>
{% endblock page_header %}

{% block content %}
	<div class="list-group mb-4">
		
		{% for topic in topics %}
			<a href="{% url 'learning_log:topic.show' topic.id %}" class="list-group-item list-group-item-action">{{ topic.text }}</a>
		{% empty %}
		<a class="list-group-item list-group-item-action disabled" aria-disabled="true">No topics have been added yet.</a>
		{% endfor %}

	</div>

	<a href="{% url 'learning_log:topic.create' %}" class="btn btn-success" >Add a new topic</a>
{% endblock content %}